.header {
  padding: 125px;
  background-color: #007bff;
}

.header p {
  text-align: center;
  font-size: 26px;
  color: black;
  font-weight: bold;
  color: white;
}

.article-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

a {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}
